.row { width:1200px; margin:0 auto; }
.clear { clear:both; }
.header-wrapper { background:black; color:white; }
.login-wrapper { padding-right:10px; background:gray; text-align:right; }
.img-wrapper { margin:20px; height:60px; }
.img-wrapper img { height:60px; width:240px; }
.navbar-wrapper { position:relative; height:100px; }
.navbar-wrapper ul { position:absolute; right:0; bottom:0; }
.navbar-wrapper ul li { padding:20px; }
.main { margin-top:40px; margin-bottom:40px;}
.pic-wrapper img { width:670px; height:400px; }
.item-wrapper { height:300px; margin-top:30px; padding:15px; box-shadow:0 0 10px rgba(0, 0, 0, 0.2); }
.item-wrapper h2 { font-size:1.5em; margin-top:10px; }
.news-wrapper { height:400px; margin-top:0; }
